/*
@import "smart-grid";

// smartgrid reset
@include reset();

._wrapper {
    @include wrapper();
}
*/

/**/

@font-face {
  font-family: Arial;
  font-display: swap;
  src: url("../fonts/ARIALMT-regular.woff2") format("woff2"), url("../fonts/ARIALMT-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

[class*=_icon-]::before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]::before {
  display: block;
}

._icon-phone:before {
  content: "\e901";
}

._icon-mail:before {
  content: "\e900";
}

._icon-facebook:before {
  content: "\e902";
}

._icon-instagram:before {
  content: "\e903";
}

._icon-vk:before {
  content: "\e904";
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

input::-ms-clear {
  display: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset,
img,
abbr {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ul li {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

legend {
  color: #000;
}

button {
  cursor: pointer;
  background-color: transparent;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

html,
body {
  height: 100%;
}

._body-wrapper {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

._body-wrapper > main {
  flex: 1 1 auto;
}

._body-wrapper > * {
  min-width: 0;
}

.visually-hidden:not(:focus):not(:active),
input[type=checkbox].visually-hidden,
input[type=radio].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "Arial", sans-serif;
  color: #444444;
  line-height: 1;
}

body._lock {
  overflow: hidden;
  touch-action: none;
}

/*
._wrapper{
    // max-width: rem($maxWidthContainer);
    max-width: $maxWidthContainer;
    margin: 0 auto;
    box-sizing: content-box;
    padding: 0 rem(15);
}*/

[class*=__container] {
  max-width: 76.25rem;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

._title {
  font-size: 3.75rem;
  line-height: 1;
  font-family: "Oswald";
  font-weight: normal;
  color: #111111;
  text-transform: none;
}

._btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  font-family: "Oswald";
  color: #fff;
  text-transform: uppercase;
  background-color: #68b738;
}

._btn:hover,
._btn:focus {
  background-color: #5eaa2f;
}

._btn:active {
  color: rgba(255, 255, 255, 0.3);
}

._input {
  border: solid 0.0625rem rgba(68, 68, 68, 0.3);
  padding: 1.0625rem 1.25rem 0.6875rem;
  font-family: "Oswald";
  font-size: 1.25rem;
  text-transform: uppercase;
  color: inherit;
}

._input::-moz-placeholder {
  font-family: "Oswald";
  font-size: 1.25rem;
  text-transform: uppercase;
  color: rgba(68, 68, 68, 0.5);
}

._input:-ms-input-placeholder {
  font-family: "Oswald";
  font-size: 1.25rem;
  text-transform: uppercase;
  color: rgba(68, 68, 68, 0.5);
}

._input::placeholder {
  font-family: "Oswald";
  font-size: 1.25rem;
  text-transform: uppercase;
  color: rgba(68, 68, 68, 0.5);
}

._input:hover {
  border: solid 0.0625rem #cdcdcd;
}

._input:focus {
  outline: none;
  border: solid 0.0625rem #444;
}

._input._error {
  border: solid 0.0625rem #ff8282;
}

._input._error + ._deco-ico {
  color: #ff8282;
}

.header {
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100%;
  transition: transform 0.3s ease 0s;
}

.header._vis {
  background-color: rgba(255, 255, 255, 0.9);
}

.header._vis .header__body {
  padding: 0.625rem 0;
}

.header._vis .menu__link {
  color: #444444;
}

.header._vis .menu__link::after {
  background-color: #68b738;
}

.header._hide {
  transform: translateY(-100%);
}

.header__body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 3.4375rem 0 1.875rem;
  transition: all 0.3s ease 0s;
}

.header__logo {
  flex: 0 1 12.625rem;
  height: 3.6875rem;
  margin-right: 1.25rem;
}

.header__logo p {
  display: none;
}

.header__logo:hover,
.header__logo:focus {
  opacity: 0.8;
}

.header__logo:active {
  opacity: 0.6;
}

.header__menu {
  flex: 1 1 auto;
  padding: 0.625rem 0;
}

.menu__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
}

.menu__item {
  list-style: none;
}

.menu__item:not(:first-child) {
  margin-left: 2.1875rem;
}

.menu__link {
  font-family: "Oswald";
  font-size: 1.25rem;
  text-transform: uppercase;
  line-height: 1.25;
  color: #111111;
}

.menu__link._active {
  position: relative;
}

.menu__link._active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.5rem;
  display: block;
  width: 100%;
  height: 0.125rem;
  background-color: #68b738;
}

.index .menu__link {
  color: #fff;
}

.index .menu__link::after {
  background-color: #fff;
}

.menu__link:hover,
.menu__link:focus {
  opacity: 0.6;
}

.menu__link:active {
  opacity: 0.3;
}

.icon-menu {
  display: none;
}

.footer__map {
  height: 25rem;
}

.footer__container {
  position: relative;
}

.footer__info {
  position: absolute;
  padding: 3.75rem 4.6875rem;
  top: -18.75rem;
  max-width: 35.625rem;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
}

.footer__info > p {
  display: block;
  flex: 0 1 9.6875rem;
  font-family: "Oswald";
  font-size: 1.25rem;
  line-height: 1.25;
  color: #444444;
  text-transform: uppercase;
}

.footer__adress {
  flex: 0 1 50%;
  line-height: 1.25;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__bottom {
  padding: 3.75rem 0;
  background-color: #f2f2f2;
}

.footer__bottom-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__logo {
  display: block;
  flex: 0 0 8.125rem;
  font-family: "Oswald";
  font-size: 1.875rem;
  text-transform: uppercase;
  letter-spacing: -0.5px;
  color: #444444;
}

.footer__logo span {
  font-weight: 600;
}

.footer__logo:hover,
.footer__logo:focus {
  opacity: 0.8;
}

.footer__logo:active {
  opacity: 0.6;
}

.footer__social ul {
  display: flex;
}

.footer__social ul li {
  list-style: none;
}

.footer__social ul li:not(:last-child) {
  margin-right: 1.875rem;
}

.footer__social ul a {
  display: block;
  font-size: 30px;
  color: inherit;
}

.footer__social ul a:hover,
.footer__social ul a:focus {
  color: #68b738;
}

.footer__social ul a:active {
  opacity: 0.3;
}

.footer__copy a {
  position: relative;
  color: inherit;
  display: flex;
  align-items: center;
}

.footer__copy a::after {
  content: "";
  display: block;
  width: 1.6875rem;
  height: 2.125rem;
  margin-left: 1.4375rem;
  background-image: url(../img/htmlacademy.webp);
  background-position: center;
  background-size: cover;
}

._no-webp .footer__copy a::after {
  background-image: url(../img/htmlacademy.png);
}

.footer__copy a:hover::after,
.footer__copy a:focus::after {
  background-image: url(../img/htmlacademy-green.webp);
}

._no-webp .footer__copy a:hover::after,
._no-webp .footer__copy a:focus::after {
  background-image: url(../img/htmlacademy-green.png);
}

.footer__copy a:active {
  opacity: 0.3;
}

.index {
  background-color: #fff;
}

.index__first {
  margin-bottom: 9.375rem;
}

.index__categories {
  margin-bottom: 2.5rem;
}

.first__container {
  display: flex;
}

.first__content {
  flex: 0 1 25.9375rem;
  margin-top: 5rem;
  margin-left: 5rem;
}

.first__title {
  margin-top: 0;
  margin-bottom: 2.5rem;
}

.first__text {
  font-family: "Oswald";
  font-size: 1.25rem;
  text-transform: uppercase;
  margin-bottom: 3.125rem;
}

.first__link {
  position: relative;
  z-index: 2;
  padding: 0.9375rem 1.5625rem;
}

.first__image-one {
  margin-left: -8.5%;
}

.first__image-two {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 50%;
  width: 50%;
  height: 43.5rem;
}

.first__image-two img {
  width: 100%;
  height: 100%;
  -o-object-fit: none;
     object-fit: none;
  -o-object-position: top left;
     object-position: top left;
}

.categories__container {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 80px;
       column-gap: 80px;
}

.categories__item {
  flex: 1 1 calc((100% - 80px) / 2);
  margin-bottom: 1.875rem;
}

.item-categories {
  background-color: #f2f2f2;
  padding: 2.5rem 3.125rem 3.75rem;
}

.item-categories__top {
  display: flex;
  align-items: center;
  margin-bottom: 2.8125rem;
}

.item-categories__image {
  position: relative;
  flex: 0 0 6.25rem;
  height: 6.25rem;
  background-color: #68b738;
  border-radius: 50%;
  margin-right: 4rem;
}

.item-categories__image img {
  position: absolute;
  max-width: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.item-categories__title {
  font-size: 2.25rem;
  font-family: "Oswald";
  color: #111111;
  font-weight: normal;
  text-transform: uppercase;
}

.item-categories__text {
  line-height: 1.5;
  margin-bottom: 2.1875rem;
}

.item-categories__link {
  font-size: 1.25rem;
  color: #111111;
  font-family: "Oswald";
  text-transform: uppercase;
  display: inline-flex;
  align-items: center;
}

.item-categories__link::after {
  content: "";
  display: block;
  width: 1.5rem;
  height: 0.6875rem;
  background-image: url(../img/main/arrow.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: right;
  margin-left: 0.9375rem;
}

.item-categories__link:hover::after,
.item-categories__link:focus::after {
  width: 2.125rem;
  background-image: url(../img/main/arrow-long.png);
}

.item-categories__link:active {
  opacity: 0.3;
}

.advantages {
  padding-bottom: 1.875rem;
}

.advantages__title {
  margin-bottom: 4.375rem;
}

.advantages__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 80px 1fr 80px 1fr 80px 1fr;
  grid-template-columns: repeat(4, 1fr);
  -moz-column-gap: 80px;
       column-gap: 80px;
}

.item-advantages {
  position: relative;
}

.item-advantages__icon {
  display: flex;
  width: 5rem;
  height: 5rem;
  align-items: center;
  justify-content: center;
  margin-bottom: 2.1875rem;
  background-color: #68b738;
}

.item-advantages__text {
  line-height: 1.5;
  padding-bottom: 3.125rem;
}

.item-advantages__num {
  position: absolute;
  z-index: -1;
  display: block;
  top: -2.1875rem;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 17.5625rem;
  font-family: "Oswald";
  color: #f2f2f2;
  line-height: 1;
}

.example {
  background: linear-gradient(#fff 11.875rem, #f2f2f2 11.875rem);
  padding-bottom: 4.6875rem;
}

.example__container {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "left right" "bottom bottom";
  -ms-grid-columns: minmax(17.5rem, 26.875rem) 39.6875rem;
  grid-template-columns: minmax(17.5rem, 26.875rem) 39.6875rem;
  justify-content: space-between;
}

.example__left {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: left;
}

.example__title {
  margin-top: 3.75rem;
  margin-bottom: 8.75rem;
}

.example__text {
  line-height: 1.5;
  margin-bottom: 4.375rem;
}

.example__param {
  display: flex;
  -moz-column-gap: 2.5rem;
       column-gap: 2.5rem;
}

.example__param-item {
  position: relative;
  flex: 0 1 10.125rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.25rem;
  border: 1px solid rgba(68, 68, 68, 0.3);
  font-size: 1.875rem;
  font-family: "Oswald";
  text-transform: uppercase;
}

.example__param-description {
  position: absolute;
  bottom: 0;
  left: 50%;
  background-color: #f2f2f2;
  transform: translate(-50%, 45%);
  padding: 0 0.5625rem;
  font-family: "Arial", sans-serif;
  font-size: 0.875rem;
  text-transform: lowercase;
  white-space: nowrap;
}

.example__right {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: right;
  height: 517px;
}

.example__images {
  position: relative;
  width: 100%;
  height: 100%;
}

.example__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.example__image--before {
  position: relative;
  background: url(../img//main/cat-before.webp), linear-gradient(#fff 11.875rem, #f2f2f2 11.875rem);
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 1;
  transition: opacity 0.3s ease 0s;
}

._no-webp .example__image--before {
  background-image: url(../img/main/cat-before.png);
}

.example__image--before._hide {
  opacity: 0;
}

.example__image--after {
  background: url(../img//main/cat-after.webp), linear-gradient(#fff 11.875rem, #f2f2f2 11.875rem);
  background-repeat: no-repeat;
  background-position-x: 100px;
  background-size: fill;
}

._no-webp .example__image--after {
  background: url(../img//main/cat-after.png), linear-gradient(#fff 11.875rem, #f2f2f2 11.875rem);
}

.example__bottom {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: bottom;
  display: flex;
  margin-top: 2.5rem;
  align-items: center;
  justify-content: space-between;
}

.example__expenses {
  flex: 0 1 26.875rem;
  font-family: "Oswald";
  font-size: 1.25rem;
  color: #111111;
  text-transform: uppercase;
}

.example__expenses span {
  margin-left: 4.0625rem;
}

.example__range {
  display: flex;
  align-items: center;
}

.example__range > span {
  position: relative;
  font-family: "Oswald";
  font-size: 1.25rem;
  color: #111111;
  text-transform: uppercase;
}

.example__range > span::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.375rem;
  display: block;
  width: 100%;
  height: 1px;
  border-bottom: 1px dotted rgba(68, 68, 68, 0.3);
}

.example__range-slider {
  padding: 0 1.25rem;
  background: transparent;
}

.example__range-slider input[type=range] {
  width: 26.875rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
}

.example__range-slider input[type=range]::-webkit-slider-runnable-track {
  border-radius: 10px/100%;
  height: 0.375rem;
  border: 1px solid #dcdcdc;
  background-color: #dcdcdc;
}

.example__range-slider input[type=range]::-webkit-slider-thumb {
  background: radial-gradient(circle, #68b738 15%, #fff 15%);
  border: 1px solid #dcdcdc;
  border-radius: 50%;
  cursor: pointer;
  width: 34px;
  height: 34px;
  -webkit-appearance: none;
  margin-top: -14px;
}

.example__range-slider input[type=range]::-moz-range-track {
  border-radius: 10px/100%;
  height: 0.375rem;
  border: 1px solid #dcdcdc;
  background-color: #dcdcdc;
}

.example__range-slider input[type=range]::-moz-range-thumb {
  position: relative;
  width: 34px;
  height: 34px;
  background: radial-gradient(circle, #68b738 15%, #fff 15%);
  border: 1px solid #dcdcdc;
  border-radius: 50%;
  cursor: pointer;
}

.example__range-slider:hover input[type=range]::-webkit-slider-thumb,
.example__range-slider:focus input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 3px 5px 0 rgba(0, 0, 0, 0.25);
}

.example__range-slider:hover input[type=range]::-moz-range-thumb,
.example__range-slider:focus input[type=range]::-moz-range-thumb {
  box-shadow: 0px 3px 5px 0 rgba(0, 0, 0, 0.25);
}

.example__range-slider:active input[type=range]::-webkit-slider-thumb {
  border: 1px solid #68b738;
  box-shadow: 0px 3px 5px 0 rgba(104, 183, 56, 0.25);
}

.example__range-slider:active input[type=range]::-moz-range-thumb {
  border: 1px solid #68b738;
  box-shadow: 0px 3px 5px 0 rgba(104, 183, 56, 0.25);
}

.check-example > input:focus + .check-example__indicator {
  outline: auto;
}

.check-example > input:checked + .check-example__indicator::after {
  transform: translate(0, -50%);
}

.check-example__indicator {
  position: relative;
  display: block;
  width: 5.3125rem;
  height: 0.875rem;
  margin: 0 1.25rem;
  background-color: #fff;
  border-radius: 0.375rem;
  cursor: pointer;
}

.check-example__indicator::after {
  content: "";
  display: block;
  width: 2.1875rem;
  height: 0.375rem;
  border-radius: 0.1875rem;
  background-color: #68b738;
  position: absolute;
  top: 50%;
  left: 0.375rem;
  transform: translate(100%, -50%);
  transition: transform 0.3s ease 0s;
}

.catalog {
  position: relative;
}

.catalog__title {
  margin-bottom: 10.3125rem;
}

.catalog__items {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, 15.3125rem);
  gap: 8.75rem 3.75rem;
  justify-content: space-between;
  margin-bottom: 4.375rem;
}

.catalog__extras {
  margin-bottom: 5.3125rem;
}

.item-catalog {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 2.5rem 1.875rem;
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
}

.item-catalog--last {
  background-color: #fff;
  text-align: center;
}

.item-catalog--last > .item-catalog__image {
  width: 3.75rem;
  height: 3.75rem;
}

.item-catalog--last > .item-catalog__image::after,
.item-catalog--last > .item-catalog__image::before {
  position: absolute;
  top: 1.25rem;
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #f2f2f2;
}

.item-catalog--last > .item-catalog__image::after {
  transform: rotate(90deg);
}

.item-catalog--last .item-catalog__param {
  font-size: 0.75rem;
}

.item-catalog__image {
  position: absolute;
  bottom: 70%;
  left: 50%;
  width: 10rem;
  height: 10.625rem;
  transform: translate(-50%, 0);
}

.item-catalog__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.item-catalog__image--big {
  width: 12.1875rem;
  height: 13rem;
}

.item-catalog__body {
  padding-bottom: 1.875rem;
  margin-bottom: auto;
}

.item-catalog__name {
  margin-top: 7.8125rem;
  font-family: "Oswald";
  font-size: 1.25rem;
  color: #111111;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 1.25rem;
}

.item-catalog__volume,
.item-catalog__taste,
.item-catalog__price {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  border-bottom: 1px solid rgba(68, 68, 68, 0.3);
}

.item-catalog__link {
  font-size: 1rem;
  width: 100%;
  padding: 0.625rem;
}

.item-catalog__link--all {
  background-color: #f2f2f2;
  color: #444444;
}

.item-catalog__link--all:hover,
.item-catalog__link--all:focus {
  background-color: #ebebeb;
}

.item-catalog__link--all:active {
  opacity: 0.3;
}

.extras__title {
  font-family: "Oswald";
  font-size: 2.25rem;
  color: #111111;
}

.extras__title::after {
  content: "";
  display: block;
  width: 100%;
  height: 0.1875rem;
  background-color: #68b738;
  position: absolute;
  z-index: -2;
  left: 0;
  transform: translateY(-0.9375rem);
}

.extras ._deco {
  position: relative;
  z-index: -1;
  width: 25.9375rem;
  height: 3px;
  background-color: #fff;
  top: -0.9375rem;
  left: -2.5rem;
}

.extras__body {
  margin-top: 4.6875rem;
  display: flex;
}

.extras__left {
  flex: 1 1 auto;
}

.extras__item {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  -moz-column-gap: 0.625rem;
       column-gap: 0.625rem;
  padding: 0.875rem 0;
  border-top: 1px solid rgba(68, 68, 68, 0.3);
}

.extras__item:last-child {
  border-bottom: 1px solid rgba(68, 68, 68, 0.3);
}

.extras__item-name {
  font-family: "Oswald";
  font-size: 1.25rem;
  color: #111111;
  text-transform: uppercase;
  flex: 1 1 auto;
}

.extras__item-unit {
  flex: 0 1 8.75rem;
  text-align: left;
}

.extras__item-price {
  flex: 0 1 4.375rem;
  text-align: center;
  white-space: nowrap;
}

.extras__item-link {
  flex: 0 0 15.3125rem;
  padding: 0.625rem;
}

.extras__right {
  flex: 0 1 15.3125rem;
  margin-left: 5rem;
}

.extras__gift {
  width: 100%;
  height: 100%;
}

.gift-extras {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 2.5rem;
  background-image: url(../img/catalog/gift-photo.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

._no-webp .gift-extras {
  background-image: url(../img/catalog/gift-photo.png);
}

.gift-extras__img {
  width: 3.4375rem;
  height: 3.75rem;
}

.gift-extras__text {
  line-height: 1.25;
  text-align: center;
  color: #fff;
}

.main-programm {
  font-family: "Oswald";
  font-size: 1.25rem;
  color: #111111;
  text-transform: uppercase;
}

.main-programm__title {
  margin-bottom: 3.125rem;
}

.main-programm__text {
  line-height: 1.5;
  max-width: 20.625rem;
  margin-bottom: 4.0625rem;
}

.main-programm__form {
  margin-bottom: 3.75rem;
}

.form-pr {
  padding-bottom: 1.25rem;
}

.form-pr__form {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 5rem;
       column-gap: 5rem;
}

.form-pr__form._sending::before {
  content: "";
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
}

.form-pr__form._sending::after {
  content: "";
  position: fixed;
  z-index: 101;
  top: calc(50% - 2.5rem);
  left: calc(50% - 2.5rem);
  width: 5rem;
  height: 5rem;
  background-image: url(../img/loading.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-animation: loading 1.5s linear infinite;
          animation: loading 1.5s linear infinite;
}

.form-pr__cat-data {
  flex: 1 1 calc(50% - 5rem);
  display: flex;
  flex-wrap: wrap;
  row-gap: 1.25rem;
  margin-bottom: 4.375rem;
}

.form-pr__cat-name,
.form-pr__cat-weight,
.form-pr__cat-age {
  width: 100%;
  display: flex;
  align-items: center;
}

.form-pr__cat-name label,
.form-pr__cat-weight label,
.form-pr__cat-age label {
  margin-right: 0.9375rem;
}

.form-pr__cat-name input,
.form-pr__cat-weight input,
.form-pr__cat-age input {
  flex: 1 1 auto;
}

.form-pr__cat-programm {
  flex: 1 1 calc(50% - 5rem);
  padding: 1.5625rem;
  margin-bottom: 4.375rem;
  border: solid 0.0625rem rgba(68, 68, 68, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 0.8125rem;
}

.form-pr__cat-programm .radio {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.form-pr__cat-programm .radio__indicator {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  border: solid 0.0625rem rgba(68, 68, 68, 0.3);
  border-radius: 50%;
  margin-right: 1.25rem;
}

.form-pr__cat-programm .radio input:focus + .radio__indicator {
  border: solid 0.0625rem rgba(68, 68, 68, 0.7);
}

.form-pr__cat-programm .radio input:checked + .radio__indicator::after {
  content: "";
  display: block;
  width: 1.125rem;
  height: 1.125rem;
  border-radius: 50%;
  background-color: #68b738;
}

.form-pr__cat-programm .radio:hover .radio__indicator,
.form-pr__cat-programm .radio:focus .radio__indicator {
  border: solid 0.0625rem rgba(68, 68, 68, 0.7);
}

.form-pr__cat-programm .radio:active {
  opacity: 0.3;
}

.form-pr__cat-programm .radio--disabled {
  cursor: auto;
  opacity: 0.3;
}

.form-pr__cat-programm .radio--disabled .radio__indicator {
  opacity: 0.4;
}

.form-pr__cat-programm .radio--disabled:hover .radio__indicator,
.form-pr__cat-programm .radio--disabled:focus .radio__indicator {
  border: solid 0.0625rem rgba(68, 68, 68, 0.3);
}

.form-pr__cat-owner-data,
.form-pr__comment,
.form-pr__additionally {
  flex: 1 1 100%;
  padding-bottom: 1.25rem;
  margin-bottom: 3.125rem;
}

.form-pr__title {
  display: inline-block;
  position: relative;
  font-family: "Oswald";
  font-size: 2.25rem;
  color: #111111;
  text-transform: none;
}

.form-pr__title::after {
  content: "";
  display: block;
  width: calc(100% + 5rem);
  height: 100%;
  background-color: #fff;
  position: absolute;
  z-index: -1;
  left: -2.5rem;
  top: 0;
}

.form-pr__deco {
  width: 100%;
  height: 0.1875rem;
  background-color: #68b738;
  position: absolute;
  z-index: -2;
  left: 0;
  transform: translateY(-0.9375rem);
}

.form-pr__cat-owner-body {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 5rem;
       column-gap: 5rem;
  row-gap: 1.25rem;
  margin-top: 4.375rem;
}

.form-pr__cat-owner-email,
.form-pr__cat-owner-phone {
  position: relative;
  flex: 1 1 calc((100% - 5rem) / 2);
  display: flex;
  align-items: center;
}

.form-pr__cat-owner-email label,
.form-pr__cat-owner-phone label {
  margin-right: 0.9375rem;
}

.form-pr__cat-owner-email input,
.form-pr__cat-owner-phone input {
  flex: 1 1 auto;
  padding-right: 3.125rem;
}

.form-pr__cat-owner-email input:focus + ._deco-ico,
.form-pr__cat-owner-phone input:focus + ._deco-ico {
  color: #68b738;
}

.form-pr ._deco-ico {
  position: absolute;
  right: 1.25rem;
}

.form-pr__comment textarea {
  margin-top: 4.375rem;
  width: 100%;
  min-height: 10.9375rem;
  resize: vertical;
}

.form-pr__additionally {
  margin-bottom: 1.25rem;
}

.form-pr__additionally-body {
  margin-top: 2.1875rem;
  padding: 1.25rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2.5rem;
}

.form-pr__additionally-body .checkbox {
  flex: 1 1 15.3125rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.form-pr__additionally-body .checkbox__indicator {
  display: block;
  width: 2.5rem;
  height: 2.5rem;
  border: solid 0.0625rem rgba(68, 68, 68, 0.3);
  margin-right: 1.25rem;
}

.form-pr__additionally-body .checkbox input:focus + .checkbox__indicator {
  border: solid 0.0625rem rgba(68, 68, 68, 0.7);
}

.form-pr__additionally-body .checkbox input:checked + .checkbox__indicator {
  background-image: url("../img/tick.png");
  background-repeat: no-repeat;
  background-position: center;
}

.form-pr__additionally-body .checkbox:hover .checkbox__indicator,
.form-pr__additionally-body .checkbox:focus .checkbox__indicator {
  border: solid 0.0625rem rgba(68, 68, 68, 0.7);
}

.form-pr__additionally-body .checkbox--disabled {
  cursor: auto;
  opacity: 0.3;
}

.form-pr__additionally-body .checkbox--disabled .checkbox__indicator {
  opacity: 0.4;
  border: solid 0.0625rem rgba(68, 68, 68, 0.3);
}

.form-pr__additionally-body .checkbox--disabled:hover .checkbox__indicator,
.form-pr__additionally-body .checkbox--disabled:focus .checkbox__indicator {
  border: solid 0.0625rem rgba(68, 68, 68, 0.3);
}

.form-pr__send {
  flex: 1 1 100%;
  display: flex;
  -moz-column-gap: 5rem;
       column-gap: 5rem;
  align-items: center;
}

.form-pr__send-btn {
  flex: 0 1 calc((100% - 5rem) / 2);
  padding: 0.9375rem;
}

.form-pr__send-text {
  font-family: "Arial", sans-serif;
  font-size: 1rem;
  color: #444444;
  text-transform: none;
}

@-webkit-keyframes loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media (min-width: 47.99875em) {
  .example__check {
    display: none;
  }

  .form-pr__title br {
    display: none;
  }
}

@media (max-width: 20em) {
  .extras__right {
    margin-left: 0rem;
  }
}

@media (max-width: 61.99875em) {
  .header__body {
    padding: 1.5625rem 0;
  }

  .header__logo {
    flex: 0 1 10.8125rem;
    height: 3.625rem;
  }

  .menu__link._active::after {
    background-color: #68b738;
  }

  .index .menu__link {
    color: #111111;
  }

  .index .menu__link::after {
    background-color: #68b738;
  }

  .menu__link {
    color: #111111;
    font-size: 1.125rem;
  }

  .footer {
    background-color: #f2f2f2;
  }

  .index .footer {
    background-color: #fff;
  }

  .footer {
    display: flex;
    flex-direction: column;
  }

  .footer__map {
    order: 2;
  }

  .footer__info {
    background-color: transparent;
    position: relative;
    top: 0;
    left: 0;
    max-width: none;
    padding: 4.375rem 2.5rem 3.75rem;
  }

  .footer__adress {
    text-align: right;
  }

  .footer__bottom {
    order: 3;
  }

  .index__first {
    margin-top: 1.875rem;
    margin-bottom: 0.625rem;
  }

  .index__categories {
    margin-top: -4.375rem;
  }

  .first__container {
    position: relative;
    flex-wrap: wrap;
  }

  .first__content {
    flex: 1 1 100%;
    margin-top: 0;
  }

  .first__title {
    width: 25.9375rem;
  }

  .first__images {
    flex: 1 1 100%;
  }

  .first__image-one {
    position: relative;
    z-index: -1;
    top: -13%;
    left: 50%;
    transform: translateX(-41%);
    text-align: center;
    width: 42.5rem;
    height: 38.0625rem;
  }

  .first__image-one img {
    width: 100%;
    height: 100%;
  }

  .first__image-two {
    display: none;
  }

  .categories__item {
    flex: 1 1 100%;
  }

  .item-categories {
    position: relative;
    padding: 5rem 19.6875rem 3.75rem 3.125rem;
  }

  .item-categories__top {
    margin-bottom: 1.5625rem;
  }

  .item-categories__image {
    position: absolute;
    display: block;
    width: 12.5rem;
    height: 12.5rem;
    right: 4.6875rem;
    top: 5.625rem;
    transform: translate(0, 0);
    margin-right: 0;
  }

  .item-categories__text {
    margin-bottom: 3.4375rem;
  }

  .advantages__items {
    -ms-grid-columns: (15.625rem)[2];
    grid-template-columns: repeat(2, 15.625rem);
    row-gap: 80px;
    justify-content: space-around;
  }

  .example__container {
        grid-template-areas: "left" "right" "bottom";
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .example__left {
    margin-bottom: 5.3125rem;
  }

  .example__title {
    margin-top: 3.125rem;
    margin-bottom: 3.75rem;
  }

  .example__text {
    margin-bottom: 3.4375rem;
  }

  .example__param {
    align-items: center;
  }

  .example__right {
    background: linear-gradient(#fff 11.875rem, #f2f2f2 11.875rem);
  }

  .example__images {
    max-width: 635px;
    margin: 0 auto;
  }

  .example__image--before {
    background-size: fill;
  }

  .example__bottom {
    justify-content: center;
    margin-top: 1.25rem;
  }

  .example__expenses {
    flex: 0 1 11.25rem;
    margin-left: auto;
    text-align: right;
  }

  .catalog__title {
    margin-bottom: 9.6875rem;
  }

  .catalog__items {
    grid-template-columns: repeat(auto-fill, minmax(15.3125rem, 1fr));
  }

  .extras__body {
    flex-direction: column;
  }

  .extras__left {
    margin-bottom: 4.375rem;
  }

  .extras__item {
    flex-wrap: wrap;
    row-gap: 1.5625rem;
  }

  .extras__item-unit {
    text-align: right;
  }

  .extras__item-price {
    flex: 0 1 6.25rem;
    text-align: right;
  }

  .extras__item-link {
    flex: 1 1 100%;
    font-size: 1rem;
  }

  .extras__right {
    margin-left: 0;
    flex: 0 0 12.5rem;
  }

  .gift-extras {
    flex-direction: row;
  }

  .gift-extras__text {
    max-width: 10rem;
    text-align: left;
  }

  .main-programm__text {
    max-width: 27.5rem;
    padding: 0 2.5rem;
  }

  .main-programm__form {
    padding: 0 2.5rem;
  }

  .form-pr__cat-data {
    flex: 1 1 100%;
    margin-bottom: 1.25rem;
  }

  .form-pr__cat-owner-email,
  .form-pr__cat-owner-phone {
    flex: 1 1 100%;
  }

  .form-pr__additionally-body {
    flex-wrap: wrap;
    row-gap: 2.1875rem;
  }

  .form-pr__additionally-body .checkbox {
    flex: 1 1 18.75rem;
  }

  .example__left {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .example__right {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }

  .example__bottom {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
  }
}

@media (max-width: 47.99875em) {
  ._title {
    font-size: 2.25rem;
  }

  ._input {
    padding: 0.9375rem 0.9375rem 0.5625rem;
    font-size: 1rem;
  }

  ._input::-moz-placeholder {
    font-size: 1rem;
  }

  ._input:-ms-input-placeholder {
    font-size: 1rem;
  }

  ._input::placeholder {
    font-size: 1rem;
  }

  .header {
    border-bottom: 1px solid #e6e6e6;
  }

  .header__body {
    padding: 0.625rem 0 0.9375rem;
  }

  .header__logo {
    flex: 1 1 auto;
    height: 2.375rem;
    display: flex;
    align-items: center;
  }

  .header__logo img {
    display: block;
    flex: 0 0 2.0625rem;
    width: 2.0625rem;
    height: 2.375rem;
  }

  .header__logo p {
    display: block;
    flex: 1 0 auto;
    text-align: center;
    text-transform: uppercase;
    font-family: "Oswald";
    font-size: 1.25rem;
    color: #111111;
  }

  .header__logo p span {
    font-weight: 600;
  }

  .header__menu {
    flex: 0 1 auto;
  }

  .menu__body {
    position: absolute;
    z-index: 4;
    bottom: 0;
    width: 100%;
    transform: translateY(100%);
    transition: all 0.8s ease 0s;
    background-color: rgba(255, 255, 255, 0.9);
    right: -100%;
  }

  .menu__body._active {
    right: 0;
  }

  .menu__list {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .menu__item:not(:first-child) {
    margin-left: 0;
  }

  .menu__item {
    padding: 1.5rem 0;
    border-bottom: 1px solid #e6e6e6;
    width: 100%;
    text-align: center;
  }

  .menu__link {
    font-weight: 500;
  }

  .icon-menu {
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 1.5625rem;
    height: 1.5625rem;
    cursor: pointer;
  }

  .icon-menu span,
  .icon-menu span::before,
  .icon-menu span::after {
    display: block;
    position: absolute;
    height: 0.125rem;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: #111111;
  }

  .icon-menu span::before,
  .icon-menu span::after {
    content: "";
  }

  .icon-menu span::before {
    top: -0.5rem;
  }

  .icon-menu span::after {
    top: 0.5rem;
  }

  .icon-menu:hover.icon-menu span,
  .icon-menu:hover.icon-menu span::before,
  .icon-menu:hover.icon-menu span::after,
  .icon-menu:focus.icon-menu span,
  .icon-menu:focus.icon-menu span::before,
  .icon-menu:focus.icon-menu span::after {
    background-color: #444444;
  }

  .icon-menu:active {
    opacity: 0.5;
  }

  .icon-menu._active span {
    width: 1.375rem;
    transform: rotate(45deg);
  }

  .icon-menu._active span::before {
    top: 0;
    transform: rotate(0);
  }

  .icon-menu._active span::after {
    top: 0;
    transform: rotate(90deg);
  }

  .footer__info {
    padding: 1.875rem 0 1.5625rem;
  }

  .footer__info > p {
    font-size: 1rem;
  }

  .footer__adress {
    font-size: 0.875rem;
  }

  .footer__bottom {
    padding: 2.5rem 0 1.25rem;
  }

  .footer__bottom-body {
    flex-direction: column;
  }

  .footer__logo {
    flex: 0 0 1.5rem;
    margin-bottom: 1.875rem;
  }

  .footer__social ul a {
    font-size: 1.25rem;
  }

  .footer__social {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1.25rem 0;
    border-top: 1px solid rgba(68, 68, 68, 0.1);
    border-bottom: 1px solid rgba(68, 68, 68, 0.1);
    margin-bottom: 1.25rem;
  }

  .index__first {
    margin-top: 0;
  }

  .index__categories {
    margin-top: 0;
    margin-bottom: 0.625rem;
  }

  .first__container {
    text-align: center;
  }

  .first__content {
    margin-left: 0;
    position: relative;
  }

  .first__title {
    width: 100%;
    margin-bottom: 1.5625rem;
    color: #fff;
    padding: 0 1.25rem;
    margin-top: 1.875rem;
  }

  .first__text {
    margin-bottom: 1.875rem;
    color: #fff;
    font-size: 0.875rem;
  }

  .first__link {
    max-width: 17.5rem;
    width: 100%;
    font-size: 0.875rem;
    margin-top: -4%;
    margin-bottom: 0.625rem;
  }

  .first__image-one {
    position: relative;
    z-index: 1;
    transform: translate(0, 20%);
    left: 0;
    width: 100%;
    height: auto;
  }

  .first__image-two {
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
  }

  .first__image-two img {
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
  }

  .categories__item {
    margin-bottom: 1.25rem;
    width: 100%;
  }

  .item-categories {
    padding: 1.25rem;
  }

  .item-categories__image {
    position: relative;
    flex: 0 1 3.125rem;
    height: 3.125rem;
    top: 0;
    left: 0;
    margin-right: 1.25rem;
  }

  .item-categories__title {
    font-size: 1.5rem;
  }

  .item-categories__text {
    font-size: 0.875rem;
    line-height: 1.29;
    margin-bottom: 2.5rem;
    position: relative;
  }

  .item-categories__text::after {
    content: "";
    display: block;
    width: 100%;
    height: 0.0625rem;
    background-color: rgba(68, 68, 68, 0.3);
    position: absolute;
    bottom: -1.25rem;
  }

  .item-categories__link {
    font-size: 1rem;
  }

  .advantages {
    padding-bottom: 1.25rem;
  }

  .advantages__title {
    margin-bottom: 2.1875rem;
  }

  .advantages__items {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    row-gap: 0;
  }

  .item-advantages {
    display: flex;
  }

  .item-advantages__icon {
    margin-right: 1.25rem;
    margin-bottom: 1.25rem;
    flex: 0 0 3.75rem;
    height: 3.75rem;
  }

  .item-advantages__text {
    max-width: 18.75rem;
    padding-bottom: 0;
    font-size: 0.875rem;
    line-height: 1.29;
  }

  .item-advantages__num {
    display: none;
  }

  .example {
    background: #f2f2f2;
    padding-bottom: 2.5rem;
  }

  .example__left {
    margin-bottom: 2.8125rem;
  }

  .example__title {
    margin-top: 1.875rem;
    margin-bottom: 2.1875rem;
  }

  .example__text {
    font-size: 0.875rem;
    line-height: 1.29;
    margin-bottom: 1.5625rem;
  }

  .example__param {
    flex-wrap: wrap;
    justify-content: center;
  }

  .example__param-item {
    flex: 0 1 7.8125rem;
    font-size: 1.5rem;
    padding: 0.9375rem 0;
  }

  .example__param-description {
    white-space: normal;
    text-align: center;
    font-size: 0.75rem;
    bottom: -0.3125rem;
  }

  .example__right {
    height: auto;
    background: #f2f2f2;
  }

  .example__images {
    height: 14.5rem;
  }

  .example__image--before {
    background: #f2f2f2 url(../img//main/cat-before.webp);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
  }

  .example__image--after {
    background: #f2f2f2 url(../img//main/cat-after.webp);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
  }

  .example__bottom {
    margin-top: 2.1875rem;
  }

  .example__expenses {
    flex: 1 1 100%;
    text-align: center;
    font-size: 0.875rem;
    margin-top: 2.5rem;
  }

  .example__expenses span {
    margin-left: 0;
  }

  .example__range > span {
    font-size: 1rem;
  }

  .example__range > span::after {
    display: none;
  }

  .example__range-slider {
    display: none;
  }

  .example__range-slider input[type=range] {
    width: 100px;
  }

  .catalog__title {
    margin-bottom: 2.1875rem;
  }

  .catalog__items {
    -ms-grid-columns: minmax(17.5rem, 20.3125rem);
    grid-template-columns: minmax(17.5rem, 20.3125rem);
    justify-content: center;
    gap: 0;
  }

  .catalog__extras {
    margin-bottom: 1.5625rem;
  }

  .item-catalog {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1.5625rem 1.25rem;
    background-color: #fff;
  }

  .item-catalog--last > .item-catalog__image {
    flex: 1 1 100%;
    margin-bottom: 0.9375rem;
  }

  .item-catalog--last > .item-catalog__image::after,
  .item-catalog--last > .item-catalog__image::before {
    width: 1.875rem;
    top: 50%;
    left: calc(50% - 0.9375rem);
  }

  .item-catalog--last > .item-catalog__body {
    flex: 1 1 100%;
  }

  .item-catalog--last .item-catalog__name {
    text-align: center;
    margin-bottom: 0.625rem;
  }

  .item-catalog--last .item-catalog__name br {
    display: none;
  }

  .item-catalog__image {
    position: relative;
    top: 0;
    left: 0;
    transform: translate(0, 0);
    flex: 0 0 50%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .item-catalog__image img {
    width: 4.375rem;
    height: auto;
  }

  .item-catalog__image--big {
    height: auto;
  }

  .item-catalog__image--big img {
    width: 6.25rem;
  }

  .item-catalog__body {
    flex: 0 0 50%;
    padding-bottom: 0;
    margin-bottom: 25px;
  }

  .item-catalog__name {
    margin-top: 0;
    font-size: 1rem;
    text-align: left;
  }

  .item-catalog__volume,
  .item-catalog__taste,
  .item-catalog__price {
    font-size: 0.75rem;
    border-bottom: none;
    padding: 0.09375rem 0;
  }

  .extras__title {
    font-size: 1.5rem;
  }

  .extras__title::after {
    transform: translateY(-0.625rem);
  }

  .extras ._deco {
    width: 18.75rem;
    top: -0.625rem;
  }

  .extras__body {
    margin-top: 1.875rem;
  }

  .extras__left {
    margin-bottom: 2.5rem;
  }

  .extras__item {
    justify-content: space-between;
    row-gap: 0.9375rem;
  }

  .extras__item-name {
    flex: 1 1 100%;
    font-size: 1rem;
  }

  .extras__item-unit {
    -moz-text-align-last: left;
         text-align-last: left;
    font-size: 0.875rem;
  }

  .extras__item-price {
    font-size: 0.875rem;
  }

  .extras__right {
    flex: 0 0 18.125rem;
  }

  .gift-extras {
    flex-direction: column;
  }

  .gift-extras__text {
    text-align: center;
  }

  .main-programm {
    font-size: 1rem;
  }

  .main-programm__title {
    margin-bottom: 2.1875rem;
  }

  .main-programm__text {
    font-size: 0.875rem;
    line-height: 1.29;
    padding: 0;
    margin-bottom: 2.5rem;
  }

  .main-programm__form {
    padding: 0;
    margin-bottom: 1.875rem;
  }

  .form-pr__cat-programm {
    padding: 1.25rem;
    margin-bottom: 1.875rem;
  }

  .form-pr__cat-programm .radio__indicator {
    margin-right: 0.9375rem;
    width: 1.875rem;
    height: 1.875rem;
  }

  .form-pr__cat-programm .radio input:checked + .radio__indicator::after {
    height: 0.75rem;
    width: 0.75rem;
  }

  .form-pr__cat-owner-data,
  .form-pr__comment,
  .form-pr__additionally {
    margin-bottom: 0.625rem;
  }

  .form-pr__title {
    font-size: 1.5rem;
  }

  .form-pr__title::after {
    width: calc(100% + 2.5rem);
    left: -1.25rem;
  }

  .form-pr__title--owner + .form-pr__deco {
    transform: translateY(-2.1875rem);
  }

  .form-pr__deco {
    transform: translateY(-0.625rem);
  }

  .form-pr__cat-owner-body {
    margin-top: 1.875rem;
  }

  .form-pr__comment textarea {
    margin-top: 1.875rem;
    min-height: 9.375rem;
    height: 9.375rem;
    resize: none;
  }

  .form-pr__additionally {
    margin-bottom: 0;
  }

  .form-pr__additionally-body {
    margin-top: 0.9375rem;
    gap: 0.8125rem;
  }

  .form-pr__additionally-body .checkbox__indicator {
    width: 1.875rem;
    height: 1.875rem;
  }

  .form-pr__send {
    flex-wrap: wrap;
  }

  .form-pr__send-btn {
    flex: 1 1 100%;
    padding: 0.625rem;
    font-size: 1rem;
    margin-bottom: 1.25rem;
  }

  .form-pr__send-text {
    font-size: 0.875rem;
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 76.25em) and (min-width: 20em) {
  .extras__right {
    margin-left: calc(0rem + 80 * ((100vw - 20rem) / 900));
  }
}